@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Valkyrie';
  src: url('/fonts/Valkyrie-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Valkyrie';
  src: url('/fonts/Valkyrie-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Valkyrie';
  src: url('/fonts/Valkyrie-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Valkyrie';
  src: url('/fonts/Valkyrie-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

:root {
  --foreground-rgb: 49, 49, 49; 
  --background-rgb: 243, 238, 231;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Merriweather', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
